<% include ../partials/boilerplate %>
<div class="container">

<h1 id='banner'>BEST FRIENDS</h1>
<p>An app that lets you save shelters to adopt an animal, a new best friend!</p>
<br />

<div class="add">
  <form method="POST" action="/auth/login">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Log In" />
  </form>
</div>
</div>

<% include ../partials/end %>
