<% include ./partials/boilerplate.ejs %>

<h1 id='banner'>&#128062; Best Friends &#128062;</h1>
<p>An app that lets you save shelters to adopt an animal, a new best friend!</p>
<a href="/auth/register"><img id='logo' src="https://i.pinimg.com/originals/9d/3e/85/9d3e855cf8f60e72a4a200cf17ffdb6c.jpg" alt="bestfriends pendent" /></a>
<br />
<p>Click <a href="/auth/register">here</a> to Register!!</p>

<% include ./partials/end.ejs %>
