<% include ./partials/boilerplate.ejs %>

<div class="container">
  <br />
<h1 id='banner'>&#128062; BEST FRIENDS &#128062;</h1>
<p>An app that lets you save shelters to adopt an animal, a new best friend!</p>
<img src="http://hayfieldanimalhospital.com/communities/0/000/001/648/630//images/8909132.png" alt="cute animals" />
<br />
<p>Click <a href="/auth/register">here</a> to Register!!</p>
</div>

<% include ./partials/end.ejs %>
