<% include ./partials/boilerplate.ejs %>

<div class="container">
<h1 id='banner'>BEST FRIENDS</h1>
<p>An app that lets you save shelters to adopt an animal, a new best friend!</p>
<br />
<label>Please Log In: </label>
</div>
<% include ./partials/end.ejs %>
