body{
  background-image: url('https://i.pinimg.com/736x/7f/a7/ff/7fa7ffb6c367a61aa69692a7a6781e97--bestfriends-adorable-animals.jpg');

}

.saved{
  width: 300px;
  height: 350px;
  background-color: rgba(0,150,150, 1);
  position: relative;
  float: left;
  border: 5px black solid;
  padding: 10px;
  margin: 35px;
}

.savedSingle{
  width: 700px;
  height: 400px;
  background-color: rgba(0,0,140, 0.4);
  position: relative;
  border: 3px white solid;
  line-height: 45px;
  padding: 20px;
  margin: 0 auto;
}

.container{
  width:800px;
  height: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: lightblue;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  border: 10px #FF6603 solid;
  }

h1{
  color: #FF6603;
  font-family: verdana;
  font-size: 15px;
  text-align: center;
  margin: 15px;
}

p{
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: white;
}

form{
  text-align: center;
}

input:hover{
  background-color: floralwhite;
  cursor: pointer;
}

button:hover{
  cursor: pointer;
  background-color: yellow;
}

label{
  color: white;
}

a{
  text-decoration: none;
  font-size: 15px;
  color: yellow;
}

a:hover{
  cursor: pointer;
}

#banner{
  font-size: 70px;
  font-weight: bolder;
  font-family: verdana;
}

#userSaved{
font-family: verdana;
font-size: 25px;
color: #FF6603;
text-align: center;
margin: 0 auto;
}
