body{
  background-image: url('http://cdn2.collective-evolution.com/assets/uploads/2016/05/dog_heart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.developer{
  font-size: 20px;
  letter-spacing: 0.3em;
  font-weight: lighter;
  color: white;
  font-family: 'Lobster', cursive;
  margin: 15px;
}

.developer:hover{
  cursor: pointer;
  color: yellow;
  font-size: 25px;
}

#logo{
  display: block;
  margin: 0 auto;
}

.meta .saved{
  width: 300px;
  height: 350px;
  background-color: rgba(0,150,150, 1);
  position: relative;
  border: 5px black solid;
  padding: 10px;
  margin: 35px;
}

.savedSingle{
  width: 700px;
  height: 400px;
  background-color: rgba(0,0,140, 0.4);
  position: relative;
  border: 3px white solid;
  line-height: 45px;
  padding: 20px;
  margin: 0 auto;
}

.container{
  width:800px;
  height: 500px;
  overflow: scroll;
  scroll-behavior: smooth;
  background-color: #A60072;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  border: 10px yellow solid;
  }

h1{
  color: ghostwhite;
  font-family: verdana;
  font-size: 15px;
  text-align: center;
  margin: 15px;
}

p{
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: ghostwhite;
}

form{
  text-align: center;
}

input:hover{
  background-color: floralwhite;
  cursor: pointer;
}

button:hover{
  cursor: pointer;
  background-color: yellow;
}

label{
  font-size: 20px;
  font-family: 'Lobster', cursive;
  color: white;
  letter-spacing: 0.2em;
}

a{
  text-decoration: none;
  font-size: 15px;
  color: yellow;
  position: relative;
  text-align: center;
}

a:hover{
  cursor: pointer;
  color: white;
  font-weight: bold;
}

#banner{
  font-size: 70px;
  color: #F0EFEC;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
  margin: 65px;
}

#userSaved{
font-family: 'Lobster', cursive;
font-size: 65px;
color: ghostwhite;
text-align: center;
margin: 0 auto;
}

#logoff{
  font-family: 'Lobster', cursive;
  background-color: #A60072;
  width: 170px;
  height: 25px;
  padding: 5px;
  border: 3px white solid;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}

#logoff:hover{
  transform: translateY(2px);
cursor: pointer;
}

hr{
  border: 0;
  height: 1px;
  background-color:#F0EFEC;
  background-image: -webkit-linear-gradient(left, #A60072, lightblue, #A60072);
  background-image: -moz-linear-gradient(left, #A60072, #8c8b8b, #A60072);
  background-image: -ms-linear-gradient(left, #A60072, #8c8b8b, #A60072);
  background-image: -o-linear-gradient(left, #A60072, #8c8b8b, #A60072);
}


